body {
  font-size: 2rem;
  color: chocolate;
  font-weight: 600;
}

/* layout  */

.layout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* border: 1px solid grey; */
  max-width: 800px;
  margin: 0 auto;
}

.layout > div {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}